* {
    box-sizing: border-box;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #fff;
    color: #333;
}


.navbar {
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    background: #333;
}

header h1 {
    color: gray
}

#new-task {
    display: flex;
    gap: 18px;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 8px;
}

.add {
    padding: 10px 30px;
    background-color: rgb(1, 162, 255);
    border: none;
    color: white;
    border-radius: 5px;
}

.container {
    max-width: 750px;
    margin: 100px auto;
    padding: 0 20px;
}


.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 0;
    border-radius: 10px;
}

.delete {
    border: none;
    cursor: pointer;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background: none;
    padding: 0 20px;
    font-size: 20px;

}

.delete:hover {
    font-size: 25px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}